<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLICA AKCJI</title>
    <link rel="stylesheet" href="sharing.css">
</head>
<body>
<h1> TABLICA AKCJI </h1>
<P>IMIĘ <input type="text" id="name" </P>
<div id="board"></div>
<form id="new">
    <h2>Zgłoś naruszenie</h2>
    Temat: <input type="text" style="width: 50em" name="title">
    <br>
    Opis: <input type="text" style="width: 50em" name="describition">
    <button type="submit"> Wyślij</button>
</form>
<a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">
    Tweets by TwitterDev</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div id="template" style="display: none">
    <div class="talk">
        <h2>{{title}}</h2>
        <div> Autor: <span class="name">{{presenter}}</span></div>
        <p>{{describition}}</p>
        <div class="comments"></div>
        <form>
            <input type="text" name="comment">
            <button type="button" class="del">Usun wpis</button>
        </form>



    </div>
    <div class="comment">
        <span class="name">{{author}}</span>: {{message}}
    </div>
</div>
<script src="sharing.js"></script>
</body>
</html>